/* Contenedor principal */
.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Menú lateral */
.menu-main {
    width: 30vw;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Filtros */
.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.filters label {
    font-weight: bold;
}

.filters select, .filters input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Bandera Pais*/

#infoPais {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.pais-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}



/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

/* Botón de eliminar */
button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c82333;
}

/*Boton eliminar todos los puntos*/

#btnNetejarTot {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}

#btnNetejarTot:hover {
    background-color: #c82333;
}


/* Zona de carga de archivos */
.dropZone {
    padding: 15px;
    border: 2px dashed #007bff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.dropZone:hover {
    background-color: #e9f2ff;
}

/* Mapa */
#map {
    height: 85vh;
    width: 65vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
